* {
    -fx-background-color: #d1ede4;
}

.settingTitle {
    -fx-font-size: 2em;
}

.singleSettingLabel {
    -fx-font-size: 0.8em;
}

.settingEnabled {
    -fx-background-color: #00ff00;
}

.settingDisabled {
    -fx-background-color: #DF0101;
    -fx-text-fill: white;
}